.nav {
  height: 72px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position:fixed;      
}
.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1404px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position:relative;
  align-items: center;
}
.brand__logo {
  display: inline-block;
  height: 4em;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  line-height: 1;
  width:10em;
}
.nav__content {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-size: 15px;
}

.nav__link {
  position: relative;
  padding: 24px 20px;
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
  height: 72px;
  color:#000;
  font-size:15px;
  padding-right:25px;
}
.nav__link1 {
  position: relative;
  padding: 24px 20px;
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
  height: 72px;
  color:#000;
  font-size:15px;
  display:inline;
}  
.nav__link-triangle {
  position: relative;
}
.dropdown {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 72px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}
.dropdown__content {
  position: relative;
  background: #fff;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.17);
  padding: 40px 30px 30px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  left: -30px;
  width: 410px;
  max-width: 100%;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  will-change: transform;
  -webkit-transform-origin: 50% -50px;
  transform-origin: 50% -50px;
  -webkit-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition: transform .2s;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition: transform .2s, -webkit-transform .2s;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.nav__cta {
  padding-left: 20px;
}
.cta {
  width: auto;
  display: flex;
  max-width: 100%;
  
}
.cta__input {
  width: 165px;
  max-width: 165px;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.btn__primary {
  border-color: #286EFA;
  border-top-color: rgb(40, 110, 250);
  border-right-color: rgb(40, 110, 250);
  border-bottom-color: rgb(40, 110, 250);
  border-left-color: rgb(40, 110, 250);
  background: #286EFA;

  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(40, 110, 250);
  color: white;
  
}
.btn__small {
  height: 33px;
  font-size: 15px;
  padding: .28em 1.2em .18em;
  padding-top: 0.28em;
  padding-right: 1.2em;
  padding-bottom: 0.18em;
  padding-left: 1.2em;
}
.btn {
  border-color: #286efa;
  border-top-color: rgb(40, 110, 250);
  border-right-color: rgb(40, 110, 250);
  border-bottom-color: rgb(40, 110, 250);
  border-left-color: rgb(40, 110, 250);
  background: #286efa;

  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(40, 110, 250);
  color: #fff;
  height: 32px;
  font-size: 15px;
  padding: .28em 1.2em .18em;
  padding-top: 0.28em;
  padding-right: 1.2em;
  padding-bottom: 0.18em;
  padding-left: 1.2em;
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .04em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #888;
  font-size: 18px;
  padding: .4em 1.2em;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  text-transform: capitalize;
  position: relative;
  height: 30px;
  text-decoration: none;
  transition: color,background .2s;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  line-height: 1.5;
  -webkit-appearance: none;
}
.triangle {
  position: relative;
  float:right;
}
.cta__btn{
  display:inline;
  background-color:blue;

}
.container__narrower{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.inoupbig{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: .4em .7em;
  padding-top: 0.4em;
  padding-right: 0.7em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  font-size: 18px;
  border-radius: 4px;
  height: 42px;
  background: #fff;
  color: #000;
  border: 1px solid #979797;
  margin: 0;
  outline: none;
  box-shadow: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;
}
.butttonbig{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .04em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #888;
  border-top-color: rgb(136, 136, 136);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(136, 136, 136);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(136, 136, 136);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(136, 136, 136);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 18px;
  padding: .4em 1.2em;
  margin: 0;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  text-transform: capitalize;
  border-radius: 4px;
  position: relative;
  height: 42px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  transition: color,background .2s;
  transition-property: color, background;
  transition-duration: 0s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  line-height: 1.5;
  -webkit-appearance: none;
  border-color: #286efa;
  border-top-color: rgb(40, 110, 250);
  border-right-color: rgb(40, 110, 250);
  border-bottom-color: rgb(40, 110, 250);
  border-left-color: rgb(40, 110, 250);
  background: #286efa;

  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(40, 110, 250);
  color: #fff;  
}
.cta__large{
  width:420px;
  max-width:100%;
  display: flex;
}
.t__small{
  font-size: 14px;
  letter-spacing: .15px;

}
.list__bullet-inline{
  display:inline-block;
}
.grow{
  display: flex;
  flex: 0 1 auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -20px;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  align-items: center;
}
.g__c6{
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  
}
.g__row{
  display: flex;
  flex: 0 1 auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -20px;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  align-items: center
}

.cta__form{
  display: flex;
  max-width: 100%;
  width: auto;
}
.cta__input{
  width: 165px;
  max-width: 165px;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-top:1.5em;
}
.input__small{
  padding: .1em .1em;
  padding-top: 0.4em;
  padding-right: 0.1em;
  padding-bottom: 0.4em;
  padding-left: 0.1em;
  border-radius: 4px;
  height: 30px;
  width:11em;
  border: 1px solid #979797;
  margin: 0;
  outline: none;
  box-shadow: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;

}
.buttonbig1{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  font-size:13px;
  padding: 0em 1.2em 0em 1em;
  margin: 0;
  outline: none;
  outline-color: initial;
  outline-style: none;
  border-radius: 1px 4px 4px 1px;
  position: relative;
  height:31px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  transition: color,background .2s;
  transition-property: color, background;
  transition-duration: 0s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  border-color: #286efa;
  border-top-color: rgb(40, 110, 250);
  border-right-color: rgb(40, 110, 250);
  border-bottom-color: rgb(40, 110, 250);
  background-position-x: initial;
  background-position-y: initial;
  background-color:blue;
  color: #fff;
  
}
.cta__btn1{
  display:inline;
  background-color:blue;
  margin-top:1.5em;
  height:0em;
}
.f__center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1404px;
  font-size:36px;
  font-weight: 300;
}
.t__h3{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -.1px;
  line-height: 1.5;
  color: #000;
  margin: 0 0 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.label{
  color: #000;
  font-size: 11px;
  padding: 1px 5px;
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 15px;
  text-align: left;
  font-weight: 600;
}
.ziti{
  font-size:16px;
  line-height:1.5;
  color:#888;
}
.ziti1{
  font-size:16px;
  line-height:1.5;
  color:blue;
  text-decoration:none;
} 

.main1
{
  z-index:99;
  margin-left:3em;
  margin-top:1em;
  background-color:#fff;
  width: 360px;
  height: 262px;    
  border: 1px solid rgba(90,122,190,.08);
  box-shadow: 0 3px 0 0 rgba(90,122,190,.12);
  border-radius: 8px;
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: block;
  width: 360px;
  transition: all .3s;
  background:rgba(255,255,255,1);
  
}
.main1:hover{
  background:rgba(255,255,255,0);
  opacity:1 ;
  transform: scale(1.1);
  box-shadow:0 3px 13px 3px rgba(90,122,190,.08);
}

.g__row:hover .main1{
  opacity:0.3;
}
.g__row:hover .main1:hover{
  opacity:1;
} 
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.device__grey{
  padding: 50px;
  background: #f3f3f3;
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.t__h2 {
  font-family: IntercomGrot,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.44;
  color: #000;
  margin: 0 0 10px;
  text-align: center;
}
.g__c5{
  width: 41.66667%;
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 41.66667%;
  display:inline;
  margin-left:12em;  
}
.cta__footer{
  background: #eee;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238);
  padding: 50px 40px;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  margin-left:2em;
}
.cta__footer::before{
  content: "";
  position: absolute;
  z-index: 0;
  background-size: 100%;
  background-image: url(https://upload-images.jianshu.io/upload_images/12406336-d7f7552f54e553f1.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
  width: 428px;
  height: 130px;
  top: -128px;
  left: 150px;
}
.t__smaller{
  font-size: 16px;
  line-height: 1.5;
}
.t__smallfont{
 font-weight:800;
}
.max__470{
  max-width:470px;
  margin:2em;
  display:block;
}
.link__arrow{
  position: relative;
  padding-right: 17px;
  text-decoration: none;
  color:blue;
}
.weiba{
  margin-left:36em;
  margin-top:1em;
}
.biaoti{
  font-size:20px;
  font-weight:5;  
}
.tezheng{
  font-size:40px;
  font-weight:200;
}
.g__row2{
  margin-left:1.5em;
}
.f:hover {
  cursor: pointer;
  color:blue;
}
.xiaozi{
  color:#888;
}
.c__blue{
  max-width:470px;
  margin:2em;
  display:block;
}
g.g__c3{
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
  flex: 0 0 auto;
}
.product__wrap{
display:inline-block;
}
.product__breakdown__image{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lianjie{
  text-decoration: none;
  color:#888;    
}
.lianjie:hover{
  color:#286efa;
}
.smallerbiaoti{
    font-size:10px
}
.f__light{
  margin-left:6em;
  
}
.max__300{
  margin-left:5.5em;
  width:14em;
  margin-right:6em
}

.max__305{
  margin-left:5.5em;
  width:16em;
  margin-right:6em
}

.chuangjian{
  display:inline-block;
}
.max__301{
  margin-left:5.5em;
  width:9em;
}
.max__302{
  margin-left:5.5em;
  width:7em;
  margin-right:6em
}
.product__learn_more {
  opacity: 0;
  transition: opacity .3s;
  text-align: center;
}
.chuangjian:hover .product__learn_more{
  opacity:0.8;
  transition: opacity .5s;
  text-align: center;
}
.huise{
  font-size:28px;
  margin-left:0.5em;
  color:#888;
  font-weight:100;
}
.huisesmaller{
  font-size:16px;
  margin-left:0.7em;
  color:#888;
  font-weight:100;
  width:15em;
}
.g__c7{
  margin-left:15em; 
}

.g__c7{
  text-decoration: none;
  cursor: pointer;
}
.g__c8{
  width: 66.66667%;
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
  flex: 0 0 auto;
  margin-left: auto;
}
.huise3{
color:#888;
}
.lck{
  color:#888;  
}
.lck:hover{
  color:blue;
}
.inoupbig1{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: .4em .7em;
  padding-top: 0.4em;
  padding-right: 0.7em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  font-size: 18px;
  border-radius: 4px;
  height: 30px;
  width:10em;
  background: #fff;
  color: #000;
  border: 1px solid #979797;
  margin-top:1.2em;
  outline: none;
  box-shadow: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;
}
.butttonbig1{
  font-family: IntercomText,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .04em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #888;
  border-top-color: rgb(136, 136, 136);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(136, 136, 136);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(136, 136, 136);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(136, 136, 136);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 18px;
  padding: .4em 1.2em;
  margin: 0;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  text-transform: capitalize;
  border-radius:0px 4px 4px 0px;
  position: relative;
  height: 30px;
  margin-top:1.2em;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  transition: color,background .2s;
  transition-property: color, background;
  transition-duration: 0s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  line-height: 1.5;
  -webkit-appearance: none;
  border-color: #286efa;
  border-top-color: rgb(40, 110, 250);
  border-right-color: rgb(40, 110, 250);
  border-bottom-color: rgb(40, 110, 250);
  border-left-color: rgb(40, 110, 250);
  background: blue;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  color: #fff;
  width:6em;
}
.zizi{
  font-weight:200;
  margin-top:3em;
}
.f__center1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1404px;
  font-size:15px;
  color:#888;
}
.tupian{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.g__row3{
  opacity:1;
}
.g__row3:hover{
 background:rgba(255,255,255,0.5)
}
.features__block{
  text-decoration: none;
  cursor: pointer;
}
.features__block:hover .t__smallfont{
  color:blue;
}
.homepage__custom__swiggle__top__left{
  position: absolute;
  top: -160px;
  left: -100px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.homepage__customers__swiggle__top__right {
  position: absolute;
  top: -30px;
  right: 650px;
  z-index: 3;
}
.homepage__customers__swiggle__bottom__right {
  position: absolute;
  bottom: -200px;
  right: -150px;
}
