.footer__wrap {
    background-color: #fff;
    padding: 70px 0 30px;
    font-size: 15px;
    overflow: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1404px;
}
@media screen and (max-width:960px){

}


.footer__row {
    margin: -40px -10px 0;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links {
    padding: 40px 10px 0;
    margin-left:2.5em;
}


.footer__heading {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 500;
}
.lianjie{
    text-decoration: none;
    color:#888;    
}
.footer__link{
    margin-bottom:1em;  
}
.lianjie:hover{
    color:#286efa;
}
.cta__footer{
    background: #eee;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(238, 238, 238);
    padding: 50px 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-left:2em;
}

.cta__footer::before{
    content: "";
    position: absolute;
    z-index: 0;
    background-size: 100%;
    background-image: url(https://upload-images.jianshu.io/upload_images/12406336-d7f7552f54e553f1.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
    width: 428px;
    height: 130px;
    top: -128px;
    left: 150px;
}

.g__row{
    display: flex;
    flex: 0 1 auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -20px;
    margin-left: -20px;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.t__h2 {
    font-family: IntercomGrot,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.44;
    color: #000;
    margin: 0 0 10px;
}
.weiba{
    margin-left:36em;
    margin-top:1em;
}
.cta__large{
    width:420px;
    max-width:100%;
    display: flex;
}
.g__c6{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding:31px;
}
.t__small{
    font-size: 14px;
    letter-spacing: .15px;
}
.max__470{
    max-width:500px;
    display:block;
}
.zihao{
    font-size:16px;
    font-weight:300;
    color:#888;
}
.u__inline{
    display:inline-block;
}
