.container__narrower{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 144px;
}
.g__row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: -20px;
    justify-content:center;
    align-items:Center;

}
.g__c6{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex: 0 0 auto;
    flex: auto;
    padding:31px;
}
.t__small{
    font-size: 14px;
    letter-spacing: .15px;
}
.list__bullet-inline{
    display:inline-block;
}
.h2{
    margin:5rem 0rem 0rem 0rem;
    fontSize:36px;
}
