.key-features {
    text-decoration: none;
}

.key-features-left {
}

.key-features-right {
}

.feature-title {
}

.feature-title.active {
    color: blue;
}


.feature-image {
    display: none;
}

.feature-image.active {
    display: block;
}

